# Lukas personal
images/

# IDEs
.idea/
.vscode/*
__pycache__/
*.py[cod]
.python-version
*.code-workspace

# Environments
.env
env/
venv/
.venv

# Build
devel/
build/
install/
log/

src/go2_sdk
src/unitree_mujoco
src/unitree_sdk2
src/unitree_sdk2_python
object_detector/coco_annotations/
object_detector/coco_images/
yolo_coco_person/
go2_venv/


